*.iml
.gradle
/local.properties
/.idea/*.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/codeStyles/
.DS_Store
/build
build/
/captures
.externalNativeBuild
.cxx
dev.keystore
keystore.properties
rsvp.keystore
gradle/wrapper/gradle-wrapper.jar
.idea/inspectionProfiles/Project_Default.xml
*.aab

